html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: rgba(0, 0, 0, .7) rgba(0, 0, 0, .1);
  scrollbar-width: thin;
  width: 100vw;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'OpenSans', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

/*glob*/
:root {
  --color-3: #333333;
  --color-F: #FFFFFF;
  --color-0: #000000;
  --color-9D: #9D5CD0;
  --color-79: #7943A4;
  --color-c2: #c283f3;
  --color-D1: #D1A9F0;
  --color-99: #999999;
  --color-66: #666666;
  --color-EC: #ECECEC;
  --color-B7: #B7B7B7;
  --color-CA: #CACACA;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 40px 80px 40px
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

a {
  outline: none;
}

.basic-link {
  position: relative;
  z-index: 0;
  transition: color .5s ease;
}

.basic-link::before {
  content: "";
  position: absolute;
  inset: -2px -5px;
  z-index: -100;
  transition: background-color .2s ease, transform .3s ease-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

.basic-link:focus-visible {
  outline: none;
  color: var(--color-F);
}

.basic-link:focus-visible::before {
  background: var(--color-79);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.basic-link:active {
  color: var(--color-79);
}

.basic-link:active::before {
  background: transparent;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
}

.btn-reset:focus-visible {
  outline: none;
}

/*header*/
.header {
  position: relative;
  z-index: 200;
}

/*header-top*/
.header__top {
  background-color: var(--color-0);
}

.header-top__container {
  padding: 0 32px 0 30px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.header-top__wraper {
  justify-content: space-between;
  align-items: center;
  flex-basis: 1250px
}

.header__burger {
  display: none;
}

.header__logo {
  width: 173px;
  margin-right: 30px;
}

.header__nav {
  flex-basis: 807px
}

.header-nav__links-wrapper {
  width: 100%;
  margin-right: 10px;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.list-element__link {
  margin-right: 30px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  padding-left: 6px;
  padding-right: 6px;
  color: var(--color-F);
  transition: 0.5s ease;
}

.header__entrance {
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-F);
}

.header__entrance svg path {
  transition: fill .5s ease;
}

.header__entrance svg {
  margin-right: 8px;
}

.header__entrance:hover svg path {
  fill: var(--color-c2);
}

.header__entrance:active svg path {
  fill: var(--color-79);
}

.header__mob-search {
  display: none;
}

.list-element__link:hover:not(:focus-visible),
.header__entrance:hover:not(:focus-visible) {
  color: var(--color-c2);
  transition: 0.5s ease;
}

.list-element__link:active:not(:focus-visible),
.header__entrance:active:not(:focus-visible) {
  color: var(--color-79);
  transition: 0.5s ease;
}

/*header-bottom*/
.header__bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  padding: 0 40px 0 30px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__select-list {
  flex-basis: 1060px;
  justify-content: space-between;
  margin-right: 30px;
  padding: 0;
}

.bottom-nav__element {
  position: relative;
  margin-right: 24px;
}

.bottom-element__btn {
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-F);
  transition: color .5s ease;
  border: none;
  background-color: transparent;
  cursor: pointer
}

.bottom-element__icon {
  margin-bottom: 4px;
  margin-left: 3px;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.bottom-element__icon path {
  transition: stroke .5s ease;
}

.bottom-element__btn--is-active {
  color: var(--color-79);
}

.bottom-element__btn--is-active .bottom-element__icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bottom-element__btn--is-active .bottom-element__icon path {
  stroke: var(--color-79);
}

.bottom-element__btn:focus-visible .bottom-element__icon path {
  stroke: var(--color-F);
}

.bottom-element__btn:hover .bottom-element__icon path {
  stroke: var(--color-c2);
}

.bottom-element__btn:active .bottom-element__icon path {
  stroke: var(--color-79);
}

.header-bottom__search-btn svg rect,
.header-bottom__search-btn svg path {
  transition: fill .5s ease;
}

.header-bottom__search-btn:focus svg rect,
.header-bottom__search-btn:focus svg path {
  fill: var(--color-9D);
}

.header-bottom__search-btn:hover svg rect,
.header-bottom__search-btn:hover svg path {
  fill: var(--color-c2);
}

.header-bottom__search-btn:active svg rect,
.header-bottom__search-btn:active svg path {
  fill: var(--color-79);
}

.basic-link:not(.basic-link:active):hover {
  color: var(--color-c2);
}

.header-bottom__search-btn svg {
  margin-top: 6px;
  margin-left: 16%;
}

.search__input {
  width: 218px;
  padding: 0;
  padding-bottom: 3px;
  margin-left: 10px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: var(--color-c2);
  transition: border .5s ease;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-c2);
}

.search__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.5s ease;
}

.search__input:hover {
  outline: none;
  border-bottom: 1px solid var(--color-c2);
}

.search__input.search__input--is-active {
  border-bottom: 1px solid var(--color-79);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.bottom-element__dropdown {
  position: absolute;
  top: 45px;
  width: 300px;
  max-height: 300px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease-in-out;
  transition: opacity .5s ease, transform .5s ease-in-out, visibility .5s ease;
  transition: opacity .5s ease, transform .5s ease-in-out, visibility .5s ease, -webkit-transform .5s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
}

.bottom-element__dropdown--is-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.bottom-element__scroll {
  max-height: 225px;
  width: 250px;
  padding: 2px;
  padding-right: 15px;
  overflow-x: hidden
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background: black;
}

.simplebar-scrollbar:before {
  background: white;
  border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  inset: 0;
}

.bottom-scroll__list {
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0
}

.bottom-scroll__element {
  height: 40px;
  position: relative;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 14px
}

.tinterroko {
  background-image: url(../img/tinterotto.jpg);
}

.fridrih {
  background-image: url(../img/fridrich.jpg);
}

.leonardo {
  background-image: url(../img/leonardo.jpg);
}

.verrokko {
  background-image: url(../img/verrokko.jpg);
}

.bottom-scroll__element:last-child {
  margin-bottom: 0;
}

.bottom-scroll__link {
  position: absolute;
  inset: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-F);
}

.bottom-scroll__link::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: background-color .5s ease;
}

.dd-link__text {
  position: absolute;
  top: 10px;
  left: 14px;
}

.bottom-scroll__link:focus-visible {
  outline: none;
}

.bottom-scroll__link:hover {
  outline: 2px solid var(--color-9D);
  outline-offset: -2px;
}

.bottom-scroll__link:focus-visible::before {
  outline: 2px solid var(--color-9D);
  outline-offset: -2px;
}

.bottom-scroll__link:active::before {
  background-color: rgba(194, 131, 243, 0.4);
  outline: 2px solid var(--color-c2);
  outline-offset: -2px;
}

/*hero*/
.hero {
  position: relative;
  margin-top: -170px;
}

.hero__container {
  position: relative;
  z-index: 100;
  padding: 193px 40px 124px 37px;
}

.hero__text-wrapper {
  max-width: 600px;
  color: var(--color-F);
}

.hero__title {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

.hero__descr {
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  display: inline-block;
  padding: 23px 35px;
  background-color: var(--color-9D);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-F);
  outline: 2px solid transparent;
  transition: background-color .5s ease, outline .5s ease;
}

.hero__btn:focus-visible {
  outline: 2px solid var(--color-9D);
  outline-offset: 4px;
}

.hero__btn:hover:not(:focus-visible) {
  outline-color: var(--color-D1);
  transition-property: all;
  transition: 0.5s ease;
}

.hero__btn:active {
  background-color: var(--color-79);
  outline: 3px solid var(--color-D1);
  outline-offset: -3px;
}

.hero__swiper {
  position: absolute;
  inset: 0;
}

.hero__swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__swiper-slide--1 {
  background-image: url(../img/hero-slid1.jpg);
}

.hero__swiper-slide--2 {
  background-image: url(../img/hero__slid2.jpg);
}

.hero__swiper-slide--3 {
  background-image: url(../img/hero__slid3.jpg);
}

/*info*/
.info__container {
  padding-bottom: 70px;
  padding-left: 34px;
}

.info__description {
  width: 67.2%;
  margin-bottom: 0;
}

/*gallery*/
.gallery {
  background: url(../img/gallery-back.jpg);
  background-size: cover;
  background-position: center
}

.gallery__container {
  padding-left: 40px;
  padding-bottom: 78px;
}

.gallery__left {
  display: flex;
  margin-right: 32px;
  flex-direction: column;
  flex-basis: 414px;
}

.gallery__title {
  color: var(--color-F);
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.gallery-left__text {
  color: var(--color-F);
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  margin-top: 0;
}

.choices {
  margin-bottom: 175px;
  overflow: visible;
  width: 96%;
}

.choices:focus-visible,
.choices:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices.is-focused.is-open {
  background: transparent;
}

.choices__inner {
  min-height: 21px;
  background-color: transparent;
  border: 1px solid var(--color-F);
  border-radius: 10px;
  color: var(--color-F);
  font-size: 17px;
  width: 96%;
}

.is-open .choices__inner,
.is-flipped.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 5px;
  border-color: var(--color-F);
}

.choices__placeholder {
  opacity: 1;
  color: var(--color-99);
}

.choices__list--single .choices__item--selectable {
  color: var(--color-F);
}

.is-highlighted.choices__placeholder {
  opacity: 1;
  color: var(--color-F);
}

.choices[data-type*=select-one]::after {
  content: "";
  right: 11px;
  top: calc(50% - 0px);
  height: 7px;
  width: 12px;
  margin-top: 0;
  background-image: url(../img/Rectangl54.svg);
  border: none;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.choices[data-type*=select-one].is-open::after {
  transform: rotate(180deg);
  margin-top: 0;
  border: none;
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  max-height: 200%;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  background-color: transparent;
  border: 1px solid var(--color-99);
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0;
  transition: visibility .2s ease, opacity .2s ease, max-height .2s ease, -webkit-transform .2s ease;
  transition: visibility .2s ease, opacity .2s ease, transform .2s ease, max-height .2s ease;
  transition: visibility .2s ease, opacity .2s ease, transform .2s ease, max-height .2s ease, -webkit-transform .2s ease;
  background-color: var(--color-0);
  width: 100%;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  top: 100%;
  bottom: auto;
  margin-top: -1px;
  margin-bottom: 0;
  border-radius: 5px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  color: var(--color-99);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-F);
}

.choices__list--dropdown .choices__item--selectable.is-selected,
.choices__list[aria-expanded] .choices__item--selectable.is-selected {
  display: none;
}

.gallery-left__check {
  position: relative;
  align-self: flex-start;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  transition: color .1s ease;
}

.gallery-left__check:focus-visible,
.gallery-left__check:active {
  outline: none;
  color: var(--color-c2);
}

.gallery-left__input {
  display: none;
}

.gallery-left__input+.box {
  position: absolute;
  left: 0;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  outline: 1px solid white;
  transition: outline .2s ease;
}

.gallery-left__check:focus-visible>.gallery-left__input+.box,
.gallery-left__check:active>.gallery-left__input+.box {
  outline: 1px solid var(--color-c2);
}

.gallery-left__input+.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../img/Ellipse16.svg) center no-repeat;
  opacity: 0;
}

.gallery-left__input:checked+.box::before {
  opacity: 1;
}

.gallery-left__input:checked+.box {
  outline: 1px solid var(--color-c2);
}

.gallery-check__text {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-F);
  cursor: pointer;
  transition: 0.2s ease;
}
.gallery-left__input:checked+.box+.gallery-check__text {
  color: var(--color-c2);
}
.gallery-left__input:hover+.box {
  outline: 1px solid var(--color-c2);
}
.gallery-left__input:hover+.box {
  outline: 1px solid var(--color-c2);
}
.gallery-left__input:hover+.box+.gallery-check__text {
  color: var(--color-c2);
}
.gallery-swiper {
  position: relative;
  width: 72%;
  overflow: hidden;
  margin-left: 3px;
}
.gallery-swiper__prev:after,
.gallery-swiper__next:after,
.projects-swiper__prev:after,
.projects-swiper__next:after {
  font-size: 8px !important;
}
.gallery-swiper__wrapper {
  position: absolute;
  width: 100%;
  height: 80%;
  box-sizing: content-box;
  top: 20%;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 98%;
}
.swiper-slide {
  flex-shrink: 0;
}
.gallery__slide::before {
  position: absolute;
  content: "";
  width: 99%;
  height: 99%;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  z-index: 1;
  transition: .3s ease-in-out;
}
.gallery__slide:active:before {
  opacity: 1;
  border: 1px solid var(--color-D1);
  transition: 0.2s;
}
.gallery__slide {
  position: relative;
  cursor: pointer;
  width: 97%;
}
.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover
}
.gallery__mobimg {
  display: none;
}
.gallery-swiper__box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
  height: 90%;
  transition: .3s ease-in-out;
  top: 5%;
  left: 6%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 2;
}
.gallery-swiper__loupe {
  width: 81px;
  height: 79px;
  background-image: url(../img/galleru_hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.gallery-swiper__box:hover {
  opacity: 1;
  transition: 0.2s;
}
.gallery__slide:hover .gallery-swiper__box {
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
}
.swiper-pagination {
  position: absolute;
}
.gallery-swiper__pagination {
  color: var(--color-F);
  position: absolute;
  top: 32px;
  left: 51px;
  width: auto;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--color-66);
  color: var(--color-F);
  border-radius: 100%;
  border: none;
  transition: 0.5s ease;
}
.gallery-swiper__prev {
  left: 5px;
  height: 29px;
  top: 48px;
  position: absolute;
  outline: 1px solid var(--color-66);
  border-radius: 100%;
  outline-offset: -1px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px;
}
.gallery-swiper__next {
  height: 28px;
  position: absolute;
  outline: 1px solid var(--color-66);
  margin-left: 5px;
  margin-top: 0;
  top: 25px;
  left: 101px;
  cursor: pointer;
  border-radius: 50%;
}
.gallery-swiper__prev:focus,
.gallery-swiper__next:focus {
  outline: 1px solid var(--color-0);
  transition: 0.5s ease;
}
.gallery-swiper__prev:hover,
.gallery-swiper__next:hover {
  background-color: var(--color-9D);
  outline: 1px solid var(--color-9D);
  transition: 0.5s ease;
}
.gallery-swiper__prev:active,
.gallery-swiper__next:active {
  background-color: var(--color-79);
  outline: 1px solid var(--color-0);
  transition: 0.5s ease;
}
.gallery__slide:focus-visible {
  outline: 3px solid var(--color-79);
}
/*catalog*/
.catalog__deskription {
  width: 69%;
}
.catalog__information {
  margin-top: 15px;
  margin-bottom: 41px;
}
.painters__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 0px;
}
.painters__life {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  margin-bottom: 0;
}
.painters__information {
  margin-top: 6px;
}
.accordion-periods {
  padding-left: 15px;
  margin-top: 0;
  width: 98%;
}
.catalog__accordion {
  width: 51%;
}
.accordion__list {
  cursor: pointer;
  position: relative;
  display: block;
}
.accordion-periods__header {
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  margin-top: 0px;
  padding-top: 33px;
  padding-bottom: 30px;
  margin-bottom: 0;
  display: flex;
  fill: #ECECEC;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  transition: 0.5s ease;
  outline: none;
}
.accordion-periods__header:hover:not(:focus-visible) {
  border-bottom: 1px solid var(--color-9D);
  border-top: 1px solid var(--color-9D);
  color: var(--color-9D);
  transition: 0.5s ease;
}
.accordion-periods__header:active:not(:focus-visible) {
  border-bottom: 1px solid var(--color-79);
  border-top: 1px solid var(--color-79);
  color: var(--color-79);
  transition: 0.5s ease;
}
.accordion-periods__header svg {
  outline: 1px solid var(--color-EC);
  border-radius: 100%;
  transition: 0.5s ease;
}
.accordion-periods__header:active svg {
  fill: var(--color-D1);
  outline: 1px solid var(--color-9D);
  transition: 0.5s ease;
}
.accordion-periods__header path {
  fill: var(--color-EC);
  transition: 0.5s ease;
}
.accordion-periods__header:hover path {
  fill: var(--color-D1);
  transition: 0.5s ease;
}
.ui-accordion-header-active,
.ui-state-active {
  border-bottom: 1px solid var(--color-79);
  border-top: 1px solid var(--color-79);
  color: var(--color-79);
  transition: 0.5s ease;
}
.ui-accordion-header-active svg {
  transform: rotate(180deg);
  outline: 1px solid var(--color-9D);
  border-radius: 100%;
  transition: 0.5s ease;
}
.ui-accordion-header-active path {
  fill: var(--color-D1);
}
.period {
  margin: 0;
  margin-right: auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 41px;
  padding-top: 0px;
  padding-left: 0;
  border: none;
  background-color: var(--color-F);
  cursor: pointer;
  transition: 0.5s ease;
}
.period:focus-visible {
  outline: none;
  background-color: var(--color-9D);
  color: var(--color-F);
  transition: 0.2s;
}
.period:focus-visible+svg path {
  fill: var(--color-D1);
}
.accordion-periods__header:hover:not(:focus-visible) .period {
  color: var(--color-9D);
  transition: 0.5s ease;
  background-color: var(--color-F);
}
.period:active {
  color: var(--color-79);
  transition: 0.2s;
}
.accordion-periods__btn {
  border: none;
  background: none;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  transition: 0.5s ease;
}
.accordion-periods__btn:focus-visible {
  background-color: var(--color-9D);
  color: var(--color-F);
  outline: none;
  transition: 0.5s ease;
}
.accordion-periods__btn:active:not(:focus-visible) {
  color: var(--color-9D);
  border-bottom: 1px solid var(--color-9D);
  transition: 0.5s ease;
}
.accordion-periods__btn:hover:not(:focus-visible) {
  color: var(--color-9D);
  transition: 0.5s ease;
}
.accordion__empty {
  margin-top: 25px;
  margin-bottom: 25px;
}
.empty__image {
  position: relative;
  width: 275px;
  height: 189px;
  border: 2px solid var(--color-B7);
  margin-right: 24px;
}
.empty__image::before {
  content: '';
  position: absolute;
  width: 83%;
  height: 165px;
  top: 12px;
  left: 12px;
  background: var(--color-B7);
}
.empty__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-3);
  margin-bottom: 0;
}
.accordion-periods__list {
  display: flex;
  flex-flow: column wrap;
  padding-right: 75px;
  padding-left: 2px;
  margin-bottom: 24px;
  max-height: 310px;
  margin-top: 24px;
}
.empty__deskription {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-3);
  width: 54%;
  margin-top: 5px;
  margin-bottom: 5px
}
.empty__link,
.other-painters__link {
  color: var(--color-9D);
}
.other-painters__link:focus-visible,
.empty__link:focus-visible {
  color: var(--color-F);
  border-bottom: 1px solid var(--color-F);
  background: var(--color-9D);
  transition: 0.2s;
}
.other-painters__link:hover,
.empty__link:hover {
  color: var(--color-79);
  border-bottom: 1px solid var(--color-79);
  transition: 0.2s;
}
.other-painters__link:active,
.empty__link:active {
  color: var(--color-3);
  border-bottom: 1px solid var(--color-3);
  transition: 0.2s;
}
.era__painters {
  display: none;
}
.era__painters--active {
  display: block;
  width: 47%;
  margin-right: 2%;
}
/*events*/
.events__container {
  padding: 0px 10px 0px 5px;
  max-width: 1648px;
}
.events__header {
  line-height: 36px;
  margin-bottom: 12px;
  padding-left: 24px;
}
.events__swiper {
  position: relative;
  padding: 2px 25px;
  overflow: hidden;
}
.events-swiper__boolit {
  display: none;
}
.events-swiper__prev {
  left: 0%;
  top: 50.6%;
  height: 50px;
  width: 50px;
  background: var(--color-EC);
  color: var(--color-0);
  border: none;
}
.events-swiper__next {
  top: 50.6%;
  right: 0;
  height: 50px;
  width: 50px;
  background: var(--color-EC);
  color: var(--color-0);
  border: none;
}
.events-swiper__next:focus,
.events-swiper__prev:focus {
  outline: 1px solid var(--color-9D);
  transition: 0.2s;
}
.events-swiper__next:hover,
.events-swiper__prev:hover {
  background-color: var(--color-D1);
  transition: 0.2s;
}
.events-swiper__next:active,
.events-swiper__prev:active {
  background-color: var(--color-D1);
  outline: 1px solid var(--color-9D);
  transition: 0.2s;
}
.events__slide {
  border: 1px solid var(--color-CA);
  width: 90%;
  min-height: 699px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1%;
  height: auto;
}
.events-swiper__text {
  flex-grow: 1;
  padding: 13px 50px 50px;
  border: 1px solid var(--color-CA);
  border-top: none;
}
.events-swiper__date {
  color: var(--color-99);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
}
.events-swiper__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-top: 0;
  margin-bottom: 5px;
}
.events-swiper__deskription {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 70px;
}
.events-swiper__link {
  position: absolute;
  border-bottom: 1px solid var(--color-9D);
  color: var(--color-9D);
  bottom: 46px;
}
.events-swiper__link:focus {
  border-bottom: 1px solid var(--color-F);
  color: var(--color-F);
  background: var(--color-9D);
  transition: 0.2s;
}
.events-swiper__link:hover {
  border-bottom: 1px solid var(--color-79);
  color: var(--color-79);
  transition: 0.2s;
}
.events-swiper__link:active {
  border-bottom: 1px solid var(--color-3);
  color: var(--color-3);
  transition: 0.2s;
}
/*projects*/
.projects__container {
  position: relative;
  padding-bottom: 63px;
}
.projects__content {
  max-width: 1065px;
}
.projects__deskription {
  margin-top: 1.4%;
}
.projects__tooltip {
  cursor: pointer;
}
.projects__tooltip:focus-visible {
  outline: none;
}
.projects__tooltip svg {
  fill: var(--color-F);
}
.projects__tooltip svg:focus {
  fill: var(--color-D1);
  outline: none;
  border-radius: 100%;
  transition: 0.2s;
}
.projects__tooltip svg:hover {
  fill: var(--color-D1);
  transition: 0.2s;
}
.projects__tooltip svg:active {
  fill: var(--color-9D);
  stroke: var(--color-F);
  transition: 0.2s;
}
.tippy-box[data-theme~='custom'] {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--color-9D);
  color: var(--color-F);
  border-radius: 0px;
  border-color: var(--color-9D);
}
.tippy-box[data-theme~='custom'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--color-9D);
}
.tippy-box[data-theme~='custom'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: var(--color-9D);
}
.tippy-box[data-theme~='custom'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: var(--color-9D);
}
.tippy-box[data-theme~='custom'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: var(--color-9D);
}
.projects__link {
  color: var(--color-9D);
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}
.projects__link:hover {
  border-bottom: 1px solid var(--color-9D);
  transition: 0.2s;
}
.projects__link:focus {
  color: var(--color-F);
  background: var(--color-9D);
  transition: 0.2s;
}
.projects__partners {
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  margin-bottom: 0;
  margin-top: 26px;
}
.projects__swiper-container {
  position: relative;
  padding: 0 75px;
}
.projects__swiper {
  overflow: hidden
}
.projects__swiper-prev {
  left: 0%;
  top: 54%;
  background: var(--color-EC);
  color: var(--color-0);
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
}
.projects__swiper-next {
  top: 55%;
  background: var(--color-EC);
  color: var(--color-0);
  width: 30px;
  height: 30px;
  right: 0%;
}
.projects__swiper-next:focus,
.projects__swiper-prev:focus {
  outline: 1px solid var(--color-9D);
  transition: 0.2s;
}
.projects__swiper-next:hover,
.projects__swiper-prev:hover {
  background-color: var(--color-D1);
  transition: 0.2s;
}
.projects__swiper-next:active,
.projects__swiper-prev:active {
  background-color: var(--color-D1);
  outline: 1px solid var(--color-9D);
  transition: 0.2s;
}
.projects-swiper__wraper {
  margin-top: 28px;
  padding: 0px;
}
.projects-swiper__slide {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
  justify-content: space-around;
  align-items: center;
  aspect-ratio: 3 / 1;
  height: auto;
  font-size: 0;
  outline: 1px solid var(--color-CA);
  outline-offset: -2px;
}
.swiper-slide__link::before {
  content: "";
  position: absolute;
  inset: 0;
}
.swiper-slide__link:focus-visible::before,
.swiper-slide__link:active::before {
  outline: 1px solid var(--color-9D);
  outline-offset: -2px;
}
.projects__img {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .4;
  transition: opacity .5s ease, -webkit-filter .5s ease;
  transition: filter .5s ease, opacity .5s ease;
  transition: filter .5s ease, opacity .5s ease, -webkit-filter .5s ease;
}
.swiper-slide__link:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: opacity .5s ease;
  cursor: pointer;
}
/*contacts*/
.contacts__container {
  border-top: 1px solid var(--color-CA);
  max-width: none;
  justify-content: center;
  align-items: center;
  padding: 38px 40px 40px 38px;
}
.details__address {
  flex-basis: 320px;
  margin-right: 15px;
  font-style: normal;
  line-height: 32px;
}
.details__header {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
}
.details__deskription {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.details__form {
  display: flex;
  flex-basis: 975px;
  margin-right: 15px;
}
.just-validate-tooltip-container {
  position: relative;
  margin-right: 20px;
  height: 50px
}
.js-validate-error-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #D11616 !important;
  background: var(--color-F);
  top: -20px;
}
.details__input {
  border: 1px solid var(--color-3);
  width: 221px;
  height: 68%;
  padding: 7px 24px;
  border-radius: 100px;
  transition: background-color .1s ease, outline .1s ease;
}
.details__input:hover {
  background: #EAEAEA;
  transition: 0.2s;
}
.details__bottom-mob {
  display: none;
}
.details__bottom {
  border: 1px solid var(--color-9D);
  color: var(--color-9D);
  cursor: pointer;
  background-color: var(--color-F);
  min-height: 50px;
  padding: 10px 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  white-space: nowrap;
  border-radius: 100px;
  transition: background-color .5s ease, outline .5s ease, color .5s ease;
}
.details__bottom:focus-visible {
  outline: 2px solid var(--color-c2);
  outline-offset: 5px;
  transition: 0.5s ease;
}
.details__bottom:hover {
  background: var(--color-9D);
  color: var(--color-F);
  transition: 0.5s ease;
}
.details__bottom:active {
  background: var(--color-79);
  outline: 3px solid var(--color-D1);
  color: var(--color-F);
  transition: 0.5s ease;
}
.messengers__link {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 16px;
  transition: opacity .5s ease;
  border-radius: 50%;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  outline: 1px solid var(--color-F);
}
.whatsapp {
  background-image: url(../img/Whatsapp-Icon.svg);
}
.telegram {
  background-image: url(../img/telegram-icon.svg);
}
.whatsapp:focus-visible,
.telegram:focus-visible {
  opacity: 0.5;
  transition: 0.5s ease;
}
.whatsapp:hover,
.telegram:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}
.whatsapp:active,
.telegram:active {
  opacity: 1;
  outline: 1px solid #9643A4;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
/*footer*/
.footer {
  background: var(--color-0);
}
.footer__container {
  padding-top: 0;
  padding-bottom: 0;
  height: 140px;
  align-items: center;
}
.footer__logo {
  width: 173px;
  margin-right: auto;
}
.footer__list {
  width: 11%;
}
.footer__social {
  margin-right: 12%;
}
.social__vk,
.social__faisbuk,
.social__instagram {
  fill: var(--color-CA);
}
.social__vk svg,
.social__faisbuk svg,
.social__instagram svg {
  transition: 0.5s ease;
}
.social__vk:focus-visible svg,
.social__faisbuk:focus-visible svg,
.social__instagram:focus-visible svg {
  fill: var(--color-F);
  transition: 0.5s ease;
}
.social__vk:hover svg,
.social__faisbuk:hover svg,
.social__instagram:hover svg {
  fill: var(--color-F);
  transition: 0.5s ease;
}
.social__vk:active svg,
.social__faisbuk:active svg,
.social__instagram:active svg {
  fill: var(--color-9D);
  transition: 0.5s ease;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
    padding-left: 48px;
  }
  .header-top__container {
    padding: 0 28px 0 49px;
    height: 100px;
    justify-content: space-between;
  }
  .header__bottom {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 300;
    margin-right: auto;
    width: 36px;
    height: 28px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: opacity .5s ease, -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out, opacity .5s ease;
    transition: transform .5s ease-in-out, opacity .5s ease, -webkit-transform .5s ease-in-out;
  }
  .burger__line {
    display: block;
    position: absolute;
    left: 0;
    height: 3.5px;
    background-color: white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-property: top, width, left, -webkit-transform;
    transition-property: top, width, left, transform;
    transition-property: top, width, left, transform, -webkit-transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out
  }
  .burger__line:nth-child(1) {
    width: 100%;
    top: 0;
  }
  .burger__line:nth-child(2),
  .burger__line:nth-child(3) {
    width: 28px;
    top: 12px;
  }
  .burger__line:nth-child(4) {
    width: 24px;
    top: 24px;
  }
  .header__logo {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 94px);
    width: 188px;
    margin-right: 0;
  }
  .header-top__wraper {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    padding: 120px 100px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out, opacity .5s ease, visibility .5s ease;
    transition: transform .5s ease-in-out, opacity .5s ease, visibility .5s ease, -webkit-transform .5s ease-in-out;
  }
  .header__nav {
    flex-basis: 0;
    margin-bottom: 164px;
  }
  .header-nav__links-wrapper {
    flex-direction: column;
  }
  .list-element__link {
    display: inline-block;
    margin-bottom: 37px;
    font-size: 24px;
    line-height: 26px;
    padding-left: 0;
  }
  .header__entrance {
    padding: 18px 89px;
    border: 2px solid var(--color-9D);
    border-radius: 100px;
  }
  .header__burger.is-transformed .burger__line:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  .header__burger.is-transformed .burger__line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header__burger.is-transformed .burger__line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header__burger.is-transformed .burger__line:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  html.no-scroll {
    overflow: hidden;
  }
  .search__input {
    width: 160px;
  }
  .mob-search__btn svg {
    width: 49%;
    height: 64px;
  }
  .header__mob-search {
    display: block;
    position: absolute;
    right: -215px;
    top: calc(50% - 31px);
    display: flex;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    margin-right: 0;
  }
  .mob-search__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0;
    background-color: var(--color-0);
    margin-top: 0;
    border: none;
  }
  .mob-search__wrapper {
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease;
  }
  .mob-search__input {
    width: 218px;
    padding: 0;
    padding-bottom: 3px;
    margin-left: 10px;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    color: var(--color-F);
    transition: border .5s ease;
    margin-top: 19px;
    outline: none;
  }
  .is-shown {
    -webkit-transform: translateY(81%);
    transform: translateY(81%);
    opacity: 1;
    visibility: visible;
  }
  .header__mob-search.is-shown {
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
    background-color: var(--color-0);
  }
  .mob-search__wrapper.is-shown {
    -webkit-transform: none;
    transform: none;
  }
  .mob-search__btn-close {
    background-color: var(--color-0);
    border: none;
    position: relative;
  }
  .mob-search__btn-close svg {
    position: absolute;
    top: -14px;
    cursor: pointer
  }
  .mob-search__input:focus-visible {
    border-bottom: 1px solid var(--color-79);
  }
  .hero {
    margin-top: -132px;
  }
  .hero__container {
    padding: 196px 40px 114px 49px;
  }
  .hero__swiper-slide--1 {
    background-image: url(../img/hero__1024-1.jpg);
  }
  .hero__swiper-slide--2 {
    background-image: url(../img/hero__slide1024-2.jpg);
  }
  .hero__swiper-slide--3 {
    background-image: url(../img/hero__slide1024-3.jpg);
  }
  .hero__text-wrapper {
    max-width: 655px;
  }
  .hero__title {
    line-height: 91px;
    margin-bottom: 0;
  }
  .hero__descr {
    margin-bottom: 132px;
    margin-top: 0px;
}
  .info__container {
    padding-left: 50px;
  }
  .info__description {
    width: 98%;
  }
  .gallery__container {
    padding-left: 48px;
}
.gallery__left {
  flex-basis: 35%;
}
.choices__inner {
  width: 94%;
}
.choices {
  margin-bottom: 104px;
}
.gallery-swiper {
  height: 401px;
}
.gallery-swiper__wrapper {
  top: 21%;
}
.gallery__img {
  width: 98%;
}
.catalog__deskription {
  width: 100%;
}
.painters__life {
  font-size: 11px;
}
.painters__information {
  margin-top: 16px;
}
.accordion-periods {
  padding-left: 30px;
  width: 92%;
}
.accordion-periods__list {
  padding-right: 0;
  max-height: 384px;
  padding-left: 0px;
  align-content: space-between;
}
.events__header {
  padding-left: 0;
}
.events__swiper {
  padding-left: 0;
  width: 95%;
  padding-bottom: 48px;
}
.events-swiper__prev, .events-swiper__next {
  display: none;
}
.events-swiper__boolit {
  display: flex;
  border: none;
  background: none;
  justify-content: center;
  margin-left: 6px;
}
.events-swiper .events-swiper__boolit .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #CACACA;
  margin-right: 11px;
  opacity: 1;
  cursor: pointer;
}
.events-swiper .events-swiper__boolit .swiper-pagination-bullet-active {
  background: #666
}
.events__slide {
  margin-top: 2%;
  min-height: 669px;
}
.events-swiper__img {
  aspect-ratio: 2.9 / 2;
}
.events-swiper__text {
  padding: 18px 31px 46px 34px;
}

.events-swiper__date {
  text-align: right;
  margin-bottom: 2px;
}
.events-swiper__deskription {
  margin-bottom: 24px;
}
.events-swiper__link {
  bottom: 56px;
}
.projects__container {
  padding-top: 70px;
  padding-bottom: 60px;
}
.projects__deskription {
  margin-top: 1.9%;
}
.projects__swiper-container {
  padding-left: 56px;
  padding-right: 60px;
}
.projects-swiper__slide {
  padding-left: 41px;
}
.projects__img {
  width: 86%;
}
.projects__swiper-next {
  top: 59%;
  right: 1%;
}
.projects__swiper-next::after, .projects__swiper-prev::after {
  font-size: 10px;
}
.projects__swiper-prev {
  top: 59%;
}
.contacts__container {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 42px;
} 
.details__header {
  font-size: 25px;
}
.details__deskription {
  font-size: 14px;
}
.details__address,
.details__form {
  flex-basis: auto;
}
.details__address {
  padding-bottom: 23px;
}
.details__form {
  padding-bottom: 33px;
}
.details__bottom {
  padding: 10px 42px;
}
.social-header {
  font-size: 24px;
}
.footer__list {
  width: 26%;
}
.footer__social {
  margin-right: 19%;
}
.social__vk, .social__faisbuk, .social__instagram {
  display: inline-block;
  transform: scale(1.333333);
}
}
@media (max-width: 980px) {
.container {
  max-width: 980px;
}
.header__mob-search {
  width: 100%;
  right: calc(-98% + 80px);
  height: 100%;
  top: 0;
}
.mob-search__btn svg {
  width: 46%;
}
.header__mob-search.is-shown {
  justify-content: center;
  transform: translateX(calc(-100% + 80px));
  z-index: 300;
}
.mob-search__wrapper {
  width: calc(100% - 160px)
}
.mob-search__input {
  width: 95%;
  margin-top: 37px
}
.mob-search__input::placeholder {
  color:var(--color-0)
}
.hero__swiper-slide--1 {
  background-image: url(../img/hero__slide-1-768.jpg);
}
.hero__swiper-slide--2 {
  background-image: url(../img/hero__slide-2-768.jpg);
}
.hero__swiper-slide--3 {
  background-image: url(../img/hero__slide-3-768.jpg);
}
.hero__title {
  line-height: 84px;
}
.hero__descr {
  margin-bottom: 134px;
  margin-top: 11px;
}
.gallery__container {
  flex-direction: column;
  padding-bottom: 85px;
}
.gallery__left {
  width: 281px;
}
.choices {
  width: 100%;
  margin-bottom: 38px;
  }
  .choices__list--dropdown, .choices__list[aria-expanded] {
    width: 279px;
  }
  .gallery-swiper {
    height: 426px;
    width: 100%;
  }
  .gallery-swiper__pagination {
    top: 46px;
    left: 49px;
  }
  .gallery-swiper__prev {
    left: 0px;
    top: 60px;
  }
  .gallery-swiper__next {
    top: 40px;
    left: 96px;
  }
.gallery-swiper__wrapper {
  height: 77%;
  top: 24%;
}
.catalog__container {
  padding-top: 79px;
  padding-bottom: 71px;
}
.catalog__information {
  margin-bottom: 21px;
}
.catalog__era {
  flex-direction: column-reverse;
}
.catalog__accordion {
  width: 99%;
}
.accordion-periods {
  padding-left: 0;
  width: 100%;
}
.accordion-periods__list {
  max-height: 310px;
  margin-bottom: 27px;
}
.era__painters--active {
  width: 98.4%;
  margin-top: 36px;
}
.painters__life {
  font-size: 12px;
}
.painters__information {
  margin-top: 7px;
}
.events__swiper {
  width: 94%;
}
.events-swiper__boolit {
  margin-left: 0px;
}
.events-swiper__img {
  aspect-ratio: 3.17 / 2;
}
.events__slide {
  min-height: 682px;
}
.events-swiper__text {
  padding-right: 22px;
  padding-top: 12px;
}
.projects__container {
  padding-bottom: 64px;
}
.projects__deskription {
  margin-top: 2.4%;
  width: 97%;
  margin-bottom: 0px;
}
.projects__partners {
  margin-top: 3px;
}
.projects-swiper__wraper {
  margin-top: 34px;
}
.projects-swiper__slide {
  aspect-ratio: 2.5 / 1;
  padding-left: 26px
}
.projects__img {
  width: 92%;
}
.details__deskription {
  font-size: 16px;
}
.details__form {
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 21px;
}
.details__address {
  padding-bottom: 29px;
}
.just-validate-tooltip-container {
  margin-bottom: 12px;
  width: calc(45% - -13px);
}
.details__input {
  width: 87%;
}
.details__bottom {
  padding: 11px 0px;
  width: 100%;
}
.contacts__container {
  padding-bottom: 44px;
}
.footer__list {
  width: 36%;
}
}
@media (max-width: 690px) {
.container {
  max-width: 690px;
  padding: 50px 15px;
}
.header-top__container {
  padding: 0 15px;
}
.header__logo {
  width: 121px;
  top: calc(50% - 14px);
  left: calc(50% - 60px);
}
.mob-search__input {
  width: 89%;
}
.hero {
  margin-top: -75px;
}
.hero__container {
  padding-top: 105px;
  padding-bottom: 80px;
}
.hero__title {
  font-size: 47px;
  line-height: 1.5;
}
.hero__descr {
  font-size: 16px;
}
.accordion-periods__list {
  max-height: 384px;
  margin-bottom: 27px;
}
.just-validate-tooltip-container {
   width: 100%;
}
.details__input {
  width: 89%;
}
.details__bottom {
  width: 60%;
}
.details__bottom span {
  display: none;
}
.footer__container {
  height: 50px;
}
.footer__list {
  width: 43%;
}
.footer__social {
  margin-right: 20px;
}
.social__vk, .social__faisbuk, .social__instagram {
  transform: scale(1);
}
}
@media (max-width: 400px) {
.container {
  max-width: 400px;
}
.header-top__container {
  height: 43px;
  padding: 0 9px;
}
.header__logo {
  width: 98px;
  top: calc(50% - 11px);
  left: calc(50% - 48px);
}
.header__burger {
  transform: scale(.6);
}
.header-top__wraper {
  padding-top: 70px;
  padding-left: 15px;
}
.header__nav {
  margin-bottom: 293px;
}
.header__entrance {
  padding: 10px 30px;
  font-weight: 600;
  font-size: 12px;
}
.header__entrance svg {
  margin-right: 2px;
}
.list-element__link {
  margin-bottom: 6px;
  font-size: 16px;
}
.mob-search__btn {
  -webkit-transform: scale(.6);
  transform: scale(.6);
  position: absolute;
  top: -9px;
}
.mob-search__btn-close svg {
-webkit-transform: scale(.6);
transform: scale(.6);
}
.header__mob-search.is-shown {
  justify-content: flex-start;
  transform: translateX(calc(-100% + 22px));
  align-items: center;
  position: relative;
}
.mob-search__wrapper.is-shown {
  position: absolute;
  top: -27px;
  left: 44px;
  width: calc(100% - 94px)
}
.mob-search__input {
  width: 100%;
  margin-top: 37px;
}
.mob-search__btn-close {
    position: absolute;
    left: 100%;
    top: 53px;
}
.header__mob-search {
  width: 91%;
}
.hero__container {
  padding-bottom: 44px;
}
.hero__swiper-slide--1 {
  background-image: url(../img/hero__slid-1-320.jpg);
}
.hero__swiper-slide--2 {
  background-image: url(../img/hero__slid-2-320.jpg);
}
.hero__swiper-slide--3 {
  background-image: url(../img/hero__slid-3-320.jpg);
}
.hero__text-wrapper {
  text-align: center;
}
.hero__title {
  font-size: 32px;
  line-height: 41px;
  margin-top: 4px;
}
.hero__descr {
  max-width: 265px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.hero__btn {
  padding: 15px 17px;
  font-size: 12px;
}
h2 {
  font-size: 28px;
}
p {
  font-size: 14px;
}
.info__container {
  padding-top: 34px;
  padding-bottom: 40px;
}
.info__description {
  margin-top: 0;
  line-height: 28px;
  width: 100%;
}
.gallery__container {
  padding-top: 37px;
}
.gallery__title {
  font-size: 28px;
  margin-bottom: 0;
}
.gallery-left__text {
  margin-bottom: 2px;
}
.choices {
  margin-bottom: 30px;
}
.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 4.5px;
  padding-right: 17px;
}
.choices[data-type*=select-one]::after {
  right: 5px;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  width: 288px;
}
.gallery__img {
  display: none;
}
.gallery__mobimg {
  display: block;
}
.gallery-swiper {
  padding-bottom: 50px;
  height: 397px;
}
.gallery-swiper__wrapper {
  height: 86%;
  top: 7%;
}
.gallery-swiper__pagination {
  top: auto;
  bottom: 5px;
  left: calc(50% - 19px);
}
.gallery-swiper__next, .gallery-swiper__prev {
  top: auto;
  bottom: 0;
}
.gallery-swiper__next {
  left: calc(50% + 29px);
}
.gallery-swiper__prev {
  left: calc(50% - 66px);
}
.catalog__container {
  padding-top: 35px;
  padding-bottom: 20px;
}
.catalog__information {
  display: none;
}
.period {
  font-size: 18px;
}
.accordion-periods__header {
  padding-top: 13px;
  padding-bottom: 8px
}
.ui-accordion-header svg {
  transform: scale(.6);
  margin-right: -13px;
}
.ui-accordion-header-active svg {
  transform: rotate(180deg) scale(.6);
  margin-right: -13px;
}
.accordion-periods__list {
  max-height: 768px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.era__painters--active {
  width: 100%;
}
.empty__image {
  width: 130px;
  height: 90px
}
.empty__image::before {
  width: 46px;
  height: 79px;
  top: 4px;
  left: 4px;
}
.empty__header {
  margin-top: 0;
  font-size: 18px;
  line-height: 32px;
}
.empty__deskription {
  width: 83%;
}
.painters__header {
  margin-top: 13px;
}
.painters__information {
  margin-top: 13px;
  width: 87%;
}
.events__container {
  padding-top: 18px;
  padding-bottom: 24px;
}
.events__swiper {
  width: 99%;
  padding-bottom: 39px;
}
.events__slide {
  margin-top: 0%;
}
.events-swiper__img {
  aspect-ratio: 2.9 / 2;
}
.events-swiper__text {
  padding-right: 12px;
  padding-top: 18px;
  padding-left: 21px;
}
.events-swiper__header {
  margin-top: 10px;
  width: 96%;
}
.events-swiper__deskription {
  width: 94%;
}
.events-swiper__link {
  bottom: 53px;
  left: 28px
}
.events-swiper__boolit {
  margin-left: -4px;
}
.projects__container {
  padding-top: 2px;
  padding-bottom: 20px;
}
.projects__header {
  line-height: 63px;
}
.projects__deskription {
  margin-top: 0%;
  width: 91%;
}
.projects__partners {
  margin-top: 16px;
  font-size: 18px;
}
.projects__swiper-container {
  padding-left: 47px;
  padding-right: 48px;
}
.projects__swiper-next {
  right: 0%;
}
.projects-swiper__wraper {
  margin-top: 15px;
}
.projects-swiper__slide {
  aspect-ratio: 2.9 / 1;
  padding-left: 45px;
}
.projects__img {
  width: 75%;
}
.contacts__container {
  padding-top: 8px;
  padding-bottom: 23px;
}
.details__address {
  padding-bottom: 17px;
}
.details__header {
  font-size: 18px;
  margin-bottom: 0;
}
.details__deskription {
  font-size: 14px;
  line-height: 12px;
}
.details__input {
  width: 89%;
  padding: 2px 24px;
}
.just-validate-tooltip-container {
  margin-bottom: 11px;
}
.details__bottom {
  width: 48%;
  font-size: 12px;
  min-height: 39px;
  padding: 6px 0;
}
.details__form {
  padding-bottom: 5px;
}
.social-header {
  font-size: 17px;
  margin-bottom: 16px;
}
.messengers__link {
  margin-right: 21px;
  transform: scale(1.3);
  margin-left: 5px;
}
.map {
  max-height: 320px;
}
.footer__container {
  flex-direction: column-reverse;
  height: 112px;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 7px;
}
.footer__logo {
  width: 98px;
  margin-right: 0;
}
.footer__list {
  width: 71%;
  margin-bottom: 3px;
  justify-content: space-between;
}
.footer__social {
  margin-right: 0;
}
.social__vk, .social__faisbuk, .social__instagram {
  transform: scale(1.1);
}
}
